<!DOCTYPE html>
<html>
  <head>
    <title>UsMap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- d3 library  -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- topojson geographical data -->
    <!-- <script src="https://d3js.org/topojson.v2.min.js"></script> -->
    <%= yield %>
  </body>
</html>
